<div class="main-container control_panel">

  <button (click)="load_template('black_shadow')" [ngClass]="getClass('black_shadow')">War Town</button>
  <button (click)="load_template('jungle')" [ngClass]="getClass('jungle')">Frontline</button>
  <button (click)="load_template('fire')" [ngClass]="getClass('fire')">TSS</button>
  <button (click)="load_template('Airsoft League Pool 1')" [ngClass]="getClass('Airsoft League Pool 1')">Airsoft League Pool 1</button>
  <button (click)="load_template('Airsoft League Pool 2')" [ngClass]="getClass('Airsoft League Pool 2')">Airsoft League Pool 2</button>
</div>
