
<div>
  <h3>Ajout d'un joueur</h3>
</div>
      
<form>
  <label for="player_name">Nom du joueur:</label>
  <input [(ngModel)]="player.name" placeholder="Nom du joueur" name="name" >
  <input [(ngModel)]="player.role" placeholder="Role du joueur" name="role" >
  <button id="player_name" (click)="save()" placeholder="Nom de partie" ngDefaultControl>Creer</button>
</form>


<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Score</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let player of players"
      [class.selected]="player === selectedPlayer"
      (click)="onSelect(player)"
      >
    <td>{{player.name}}</td>
    <td>{{player.role}}</td>
    <td class="score">{{player.score}}</td>
    <td>
      <button type="button" class="btn btn-danger"
	      (click)="delete(player); $event.stopPropagation()">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>

<table class="table">
  <tr *ngFor="let message of messages">
    <td>{{message}}</td>
  </tr>
  
  
</table>

<player-detail [player]="selectedPlayer"></player-detail>
