
<div>
  <img alt="RGGame" src="../assets/logo.png"/>
</div>
    

<nav>
  <img id="bandeau_menu" class="superpose" src="assets/origin/bande_menu_grise_format_paysage.png"  />
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/party/list" routerLinkActive="active">Liste des parties</a>
  <a routerLink="/team/list" routerLinkActive="active">Liste des équipes</a>
  <a routerLink="/player/list" routerLinkActive="active">Liste des joueurs</a>
  <a routerLink="/goal/list" routerLinkActive="active">Liste des objectifs</a>
</nav>

<router-outlet></router-outlet>
