<div class="page-header">

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img alt="RGGame" src="../assets/logo.png" class="brand"/>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>


<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="navbar-brand" routerLink="/party/list" routerLinkActive="active">Liste des parties</a>
    <a class="navbar-brand" routerLink="/team/list" routerLinkActive="active">Liste des équipes</a>
    <a class="navbar-brand" routerLink="/player/list" routerLinkActive="active">Liste des joueurs</a>
    <a class="navbar-brand" routerLink="/goal/list" routerLinkActive="active">Liste des objectifs</a>
  </div>
</nav>

<router-outlet></router-outlet>
