<div class="main-container">

  <div class="over-content">
    <form>
      <label for="party_name">Nom de la partie:</label>
      <input [(ngModel)]="party.name" placeholder="Nom de la partie" name="name">
      <button id="party_name" (click)="save()" placeholder="Nom de partie" ngDefaultControl>Creer</button>
    </form>
  </div>
  
  <div class="main-content">

    <table >
      <tr>
	<th>Name</th>
	<th>Started</th>
	<th>Creation date</th>
	<th>Start date</th>
	<th>Delete</th>
      </tr>
      <tr *ngFor="let party of parties" 
	  [class.selected]="party === selectedParty"
	  (click)="onSelect(party)"
	  >
	<td>{{party.name}}</td>
	<td>{{party.started}}</td>
	<td>{{party.creation_date}}</td>
	<td>{{party.start_date}}</td>
	<td>
	  <button type="button" 
		  (click)="delete(party); $event.stopPropagation()">
	    
	  </button>
	</td>
      </tr>
    </table>
    
    <party-detail [party]="selectedParty"></party-detail>

  </div>
  
</div>
