<div >
    <h2>Liste des parties</h2>

    <h3>Création d'une partie</h3>

    
    
    <form>
      <label for="party_name">Nom de la partie:</label>
      <input [(ngModel)]="party.name" placeholder="Nom de la partie" name="name">
      <button id="party_name" (click)="save()" placeholder="Nom de partie" ngDefaultControl>Creer</button>
    </form>
      

    <h3>Parties</h3>
    

    <table >
      <tr>
	<th>Name</th>
	<th>Started</th>
	<th>Creation date</th>
	<th>Start date</th>
	<th>Delete</th>
      </tr>
      <tr *ngFor="let party of parties" 
	  [class.selected]="party === selectedParty"
	  (click)="onSelect(party)"
	  >
	<td>{{party.name}}</td>
	<td>{{party.started}}</td>
	<td>{{party.creation_date}}</td>
	<td>{{party.start_date}}</td>
	<td>
	  <button type="button" class="btn btn-danger"
		  (click)="delete(party); $event.stopPropagation()">
	    <span  aria-hidden="true"></span>
	  </button>
	</td>
      </tr>
    </table>
  
  <party-detail [party]="selectedParty"></party-detail>
</div>
