<div *ngIf="party">
  <h2>Detail de la partie {{party.name}}</h2>

  <h3>Les equipes</h3>
  <table class="partie-list-team">
    <tr>
      <th>Nom</th>
      <th>Score</th>
      <th>Exclure</th>
    </tr>
    <tr *ngFor="let team of teams" 
	[class.selected]="team === selectedTeam"
	(click)="onSelect(team)"
	>
      <td>{{team.name}}</td>
      <td>{{team.score}}</td>
      <td>
	<button class="delete"
		(click)="exclude(team); $event.stopPropagation()">
	  Exclure
	</button>
      </td>
    </tr>
  </table>

  <h3>Les objectifs</h3>

  <select [(ngModel)]="selectedGoal">
    <option *ngFor="let goal of goals" [ngValue]="goal">{{goal.name}}</option>
  </select>

  <button (click)="addGoal()">Ajout de l'objectif</button>

  <table class="goal-list-party">
    <tr>
      <th>Nom</th>
      <th>Score</th>
      <th>Etat</th>
      <th>Sortir</th>
    </tr>
    <tr *ngFor="let goal of goalsInParty">
      <td>{{goal.name}}</td>
      <td>{{goal.number_of_points}}</td>
      <td>Non valide</td>
    </tr>
  </table>
  
</div>
