<div class="panel panel-success" *ngIf="party">
  <div class="panel-heading">
    <h3>Detail de la partie {{party.name}}</h3>
  </div>
  
  <div class="panel-body">

    <h3>Commandes</h3>
    <table class="table">
      <tr>
	<td>Start/Stop</td>
	<td>
	  <div *ngIf="party.started">
	    <button (click)="startStopParty()">Stop</button>
	  </div>
	  <div *ngIf="!party.started">
	    <button (click)="startStopParty()">Start</button>
	  </div>
	</td>
      </tr>
    </table>
    
    <h3>Les equipes</h3>
    <table class="table">
      <tr>
	<th>Nom</th>
	<th>Score</th>
	<th>Exclure</th>
      </tr>
      <tr *ngFor="let team of teams" 
	  [class.selected]="team === selectedTeam"
	  (click)="onSelect(team)"
	  >
	<td>{{team.name}}</td>
	<td>{{team.score}}</td>
	<td>
	  <button class="delete"
		  (click)="exclude(team); $event.stopPropagation()">
	    Exclure
	  </button>
	</td>
      </tr>
    </table>

    
  </div>
</div>

