<div class="container dash-cont">
  
  <div class="teams" *ngFor="let party of list_of_parties">
    <h1 class="main_title">
      {{party.name}}
    </h1>
    <h3 class="main_title"> > Nombre de joueurs: <div class="red_title">{{m_total_players}}</div></h3>
    <h3 class="main_title"> > Nombre d'equipes: <div class="red_title">{{party.teams.length}}</div></h3>
    <h3 class="main_title"> > Objectifs acquis: <div class="red_title">{{m_validated_goals}}</div>/<div class="blue_title">{{m_total_goals}}</div></h3>
    
    <!-- List of parties-->
    <div  *ngFor="let team of party.teams " class="team">
      <h3 class="main_title">{{team.name}} - <span>{{team.score}}</span></h3>
      <table class="dash_tables">
	<tr>
	  <th>Role(Nom)</th>
	  <th>Score</th>
	</tr>
	<tr *ngFor="let player of team.players">
	  <td>{{player.role}}({{player.name}})</td>
	  <td class="score">{{player.score}}</td>
	</tr>
      </table>
    </div>
    <!-- End list of parties-->
    
  </div>

  <div class="messages">
    <table>
      <tr>
	<th>Type</th>
	<th>Description</th>
      </tr>
      
      <tr *ngFor="let message of messages">
	<td>{{message.type_event}}</td>
	<td>{{message.description}}</td>
      </tr>
    </table>
  </div>
  
</div>
