
	  
<div *ngFor="let party of list_of_parties">
  <div>
    {{party.name}}
  </div>
  
  <!-- List of parties-->
  <div  *ngFor="let team of party.teams ">
    <h3>{{team.name}} <span>{{team.score}}</span></h3>
    <table>
      <tr>
	<th>Role(Nom)</th>
	<th>Score</th>
      </tr>
      <tr *ngFor="let player of team.players">
	<td>{{player.role}}({{player.name}})</td>
	<td class="score">{{player.score}}</td>
      </tr>
    </table>
  </div>
  <!-- End list of parties-->
  
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
	    
  <tr *ngFor="let message of messages">
    <td>{{message.date}}</td>
    <td>{{message.type_event}}</td>
    <td>{{message.description}}</td>
  </tr>
</table>

