
a {
  text-decoration: none;
}
.grid {
  margin: 0;
}

.party {
    background-color: black;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}

.team {
    background-color: #1E1819;
    margin: 1px;
    border-radius: 10px;
}

h4 {
    text-align: center;
}