/* You can add global styles to this file, and also import other style files */

@import url("fonts.css");
@import url("classes.css");

body {    
    background-image: url("assets/origin/fond_dashboard.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: font_light;
    color: rgba(255, 255, 255, 0.8);
}

table {
  color: white;
  border-collapse: separate;
  width: 100%;
  /*border: 3px solid rgba(91, 91, 91, 0.3);*/
  border-spacing: 0px 8px;
}

td {
  text-align: center;
  padding: 3px;  

  //border: 2px solid black;
}

th {
    background-color: rgba(52, 73, 54, 0.2);
    margin: 20px;
}
tr {
    background-color: rgba(255, 255, 255, 0.16);
    margin: 10px;
 
}

nav
{

    background: linear-gradient(to right, rgba(210, 210, 210, 0.6), rgba(210, 210, 210, 0));


}

a {
    color: rgba(255, 255, 255, 0.8);
    font-family: font_light;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none; /* enleve le soulignement */
    padding: 0px 10px; /* espace entre les menus */
}

nav a:hover
{
    background-image: url("assets/origin/bouton_gris_menu.png");
}

nav a.selected, nav a:hover
{
    color: #D84100;
}



nav a:hover
{
    background-image: url("assets/origin/bouton_gris_menu.png");
}

nav a.selected, nav a:hover
{
    color: #D84100;
}


input
{
    width: 200px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 191, 255, 0.8);
    text-align: center;
    color: white;
}

button
{
    color: black;
    background-color: rgba(0, 191, 255, 0.8);
    border: none;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    max-width: 200px;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    cursor: pointer;

}