/* You can add global styles to this file, and also import other style files */

@import url("fonts.css");

body {
    background-image: url("assets/origin/fond_dashboard.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: font_light;
    color: rgba(255, 255, 255, 0.8);


}

table {
  color: white;
  border-collapse: separate;
  width: 100%;
  border: 3px solid rgba(91, 91, 91, 0.3);
  border-spacing: 0px 8px;
}

td {
  text-align: center;
  padding: 3px;  

  //border: 2px solid black;
}

th {
  background-color: rgba(52, 73, 54, 0.2);
  margin: 20px;
}
tr {
  background-color: rgba(255, 255, 255, 0.16);
  margin: 10px;
  border: 6px solid rgba(255, 255, 255, 0.6);
}

nav
{

    background-color: rgba(210, 210, 210, 0.4);

}

a {
    color: rgba(255, 255, 255, 0.8);
    font-family: font_light;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none; /* enleve le soulignement */
    padding: 0px 10px; /* espace entre les menus */
}

nav a:hover
{
    background-image: url("assets/origin/bouton_gris_menu.png");
}

nav a.selected, nav a:hover
{
    color: #D84100;
}


.rg_logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 15px;

}

.active-link
{
    color: white;
    font-weight: bold;
    background-image: url("assets/origin/bouton_gris_menu_aveclien.png");
    overflow: visible;
}