<form>
  <label for="team_name">Nom de l'équipe:</label>
  <input [(ngModel)]="team.name" placeholder="Nom de l'équipe" name="name" id="name" >
  <button   (click)="save()" ngDefaultControl>Creer</button>
</form>

<table>
  <tr>
    <th>Nom de l'équipe</th>
    <th>Score</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let team of teams" 
      [class.selected]="team === selectedTeam"
      (click)="onSelect(team)"
      >
    <td>{{team.name}}</td>
    <td class="score">{{team.score}}</td>
    <td>
      <button type="button" 
	      (click)="delete(team); $event.stopPropagation()">

      </button>
    </td>
  </tr>
</table>

<team-detail [team]="selectedTeam"></team-detail>



