<div class="container">
  <div class="page-header">
    <h2>Liste des équipes</h2>

  </div>

  <div class="panel panel-primary">
    
    <div class="panel-heading">
      <h3>Ajout d'une équipe</h3>
    </div>
    
    
    <div class="panel-body">
      <form class="form-inline">
	<div class="form-group">
	  <label for="team_name">Nom de l'équipe:</label>
	  <input [(ngModel)]="team.name" class="form-control" placeholder="Nom de l'équipe" name="name" id="name" >
	  <button class="btn btn-default"  (click)="save()" ngDefaultControl>Creer</button>
	</div>
      </form>
    </div>
    
  </div>




  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Equipes</h3>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
	<tr>
	  <th>Nom de l'équipe</th>
	  <th>Score</th>
	  <th>Delete</th>
	</tr>
	<tr *ngFor="let team of teams" class="teams"
	    [class.selected]="team === selectedTeam"
	    (click)="onSelect(team)"
	    >
	  <td>{{team.name}}</td>
	  <td>{{team.score}}</td>
	  <td>
	    <button type="button" class="btn btn-danger"
		    (click)="delete(team); $event.stopPropagation()">
	      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	    </button>
	  </td>
	</tr>
      </table>
    </div>
  </div>

  <team-detail [team]="selectedTeam"></team-detail>


</div>
