<div class="panel panel-success" *ngIf="team">
  <div class="panel-heading">
    <h3>Equipe {{team.name}}</h3>
  </div>
  
  <div class="panel-body">
    
    <div>
      <label>Score: </label>
      {{team.score}}
    </div>
    <div class="form-group">
      <label for="sel-party">Partie:</label>
      <select [(ngModel)]="selectedParty" class="form-control" name="sel-party">
	<option *ngFor="let party of parties" [ngValue]="party" class="sel-parties">
	  {{party.name}}
	</option>
      </select>
      <button class="btn btn-default" (click)="onSave()">
	Associer à la partie
      </button>
      
    </div>
    <div>
      <label>Liste des joueurs </label>
      <table class="table">
	<tr>
	  <th>Joueur</th>
	  <th>Score</th>
	  <th>Exclure</th>
	</tr>
	<tr *ngFor="let player of player_list">
	  <td>{{player.name}}</td>
	  <td>{{player.role}}</td>
	  <td>{{player.score}}</td>
	  <td><button class="btn btn-danger" (click)="excludePlayer(player._id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
	</tr>
      </table>
    </div>
  </div>
</div>
